.background {
    background-color: #C0DCDE;
    height: 250px;  /* 調整背景高度 */
    width: 100%;
    padding-top: 30px;  /* 讓圖片離上方有距離 */
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;  /* 表單和背景之間的間距 */
}
.button {
    background-color: #007E87;
    border-color: #007E87;
    color: white !important;
    border-radius: 10px;
}

.button:hover {
    background-color: #00585e !important;
    border-color: #00585e  !important;
    color: white !important;
}

.button:active {
    transform: scale(0.98);
    background-color: #00585e !important;
    border-color: #00585e  !important;
    color: white !important;
}

